body {
	font-family: Helvetica;
	font-size: 14px;
	line-height: 150%;
	margin: 20px;
	padding: 0px;
}

table, tr, td, div, img {
	margin: 0;
	padding: 0;
	border: 0;
	border-spacing: 0;
   border-collapse: separate;
}

input, select {
	box-sizing: border-box;
	border: 1px solid #ccc;
	width: 100%;
}

a {
	cursor: pointer;
	color: #000;
	text-decoration: none;
}

a:link {
	color: #000;
}

a:visited {
	color: #666;
}

a:hover {
	color: #cc8800;
}

a.active {
	font-weight: bold;
}

img.active {
	border: 1px solid #333;
}

img.inactive {
	border: 1px solid #fff;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding-left: 12px;
}

.loading {
	background-image: url("loading.gif");
	background-repeat: no-repeat;
	min-width: 16px;
	min-height: 16px;
}

.load_error {
	background-image: url("load_error.gif");
	background-repeat: no-repeat;
	min-width: 32px;
	min-height: 32px;
}

.gray {
	color: #999;
}

.small {
	font-size: 13px;
}

.price {
	color: #ff3300;
	font-weight: bold;
}

.buybutton {
	cursor: pointer;
	color: #000;
	background: #fff;
	border: 1px solid #ccc;
	font-weight: normal;
	font-size: 14px;
	font-variant: small-caps;
	padding-top: 2px;
	padding-bottom: 5px;
	padding-left: 2em;
	padding-right: 2em;
}

.buybutton:hover {
	color: #cc8800;
}

.orange {
	background: #ff8800;
}

.orange:hover {
	color: #fff;
}

.big_price {
	color: #ff3300;
	font-weight: 100;
	font-size: 36px;
}

.description {
	font-family: Georgia;
	font-size: 13px;
}

.notavailable {
	color: #666;
	font-weight: bold;
}

/* make it fixed */
td .thumb {
	width: 60px;
	height: 60px;
	overflow: hidden;
	white-space: nowrap;
}

/* grid|list icons */
img.enabled {

}
img.disabled {
	opacity: 0.2;
}

#cart_item_count {
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}

button.disabled {
	color: #666;
	background: #ccc;
}

button.disabled:hover {
	color: #666;
}
