ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul li {
    padding-left: 8px;
}

a {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

a:link {
	color: #666666;
}

a:active {
	color: #B73045;
}

a:visited {
	color: #999999;
}

a:hover, a.hover {
	text-decoration: underline;
}

a.active {
	color: black;
	text-decoration: none;
}
