body, div {
	font-family: Helvetica;
	font-size: 14px;
	line-height: 150%;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul li {
    padding-left: 8px;
}

a {
	cursor: pointer;
	color: #000;
	text-decoration: none;
}

a:link {
	color: #000;
}

a:visited {
	color: #666;
}

a:hover, a.hover {
	color: #cc8800;
}

a.active {
	font-weight: bold;
	cursor: auto;
}

.loading {
	background-image: url("loading.gif");
	background-repeat: no-repeat;
	min-width: 16px;
	min-height: 16px;
}

.gray {
	color: #999;
}

.small {
	font-size: 13px;
}

.home_img {
	min-width: 170px;
	min-height: 198px;
}

.price {
	color: #ff3300;
	font-weight: bold;
}

.buybutton {
	cursor: pointer;
	color: #000;
	background: #fff;
	border: 1px solid #ccc;
	font-weight: normal;
	font-size: 14px;
	font-variant: small-caps;
	padding-top: 2px;
	padding-bottom: 5px;
	padding-left: 2em;
	padding-right: 2em;
}

.buybutton:hover {
	color: #cc8800;
}

